html, body {
  background: linear-gradient(to right, lightgrey , white);
}

/*
html, body {
    height: 576px;
    width: 1024px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    background-image: url('../img/logo-douglas-bw.jpg')
}

a { text-decoration: none; }
*/

#background {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
}

#subbody { height: 480px; }

#header {
	height: 90px;
	width: 100%;
	background: no-repeat scroll center top, linear-gradient(90deg, #006AAA, #6A97C2) repeat scroll 0 0%, none repeat scroll 0 0 #006AAA;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align: center;
  vertical-align: middle;
}

#header-title {
  margin: 5px;
  width: 95%;
}

#questintro {
  color: orange;
}

#quest {
  font-style: italic;
}

#container {
  background: linear-gradient(to right, lightgrey , white);
}

#topPanel {
  min-height: 110px;
  width: 100%;
  padding: 0 5px;
  position: relative;
}

.headingText {
  font-size: 25px;
}

.mini-line-break {
  margin: 2px
}

#main {
  position: relative;
  margin: 0
}

#map {
   height: 200px;
   width: 100%;
}

#cpanel {
   height: 100%;
   width: 168px;
   float: right;
   background: linear-gradient(lightyellow,orange);
   border-top: 1px solid;
   border-bottom: 1px solid;
   border-right: 1px solid;
   position: relative;
   display: block;
}

#labelnomsess {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

#nomsess {
  font-size: 15px;
}

#logo {
  height: 100%;
  width: 10%;
  float: left;
}

#veritas-id {
  padding: 3px;
  font-size: 12px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  float: left;
  color: lightgrey;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: lightgrey;
}

#langues {
  float: right;
  color: green;
  font-size: 12px;
  margin: 5px;
  line-height: 12px;
}

#langues a {
  color: green;
}

#buttonWrapDiv {
  display: inline-block;
}

#about {
  bottom: 10px;
    background-color: green;
}

#tour {
  bottom: 45px;
  background-color: grey;
}

.hcenter {
    text-align:center;
}

.myButtonStyle {
  width: 140px;
  height: 27px;
  font-size: 12px;
  border: 1px solid;
}

.lowerButtonStyle {
  height: 25px;
  position: absolute;
  left: 10px;
}

.myFileStyle {
}

.stretch {
  height: 100%;
  width: 100%;
}

.info {
    padding: 6px 6px 3px 6px;
    background: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}

.info:hover
{
    background-color: #F4F4F4;
    cursor: pointer;
}

.myIcon {
  font-size: 14px;
}

.submit-div {
  display: inline-block;
  position: relative;
  width:100%;
}

.back-btn {
  float: left
}

.answer-btn {
  float: right
}

.submit-div > input {
  min-width: 120px;
}

.quest-block {
  display: inline-block;
  position: relative;
  max-width: 55%;
  margin: 12px 10%;
  background-color: lightyellow;
  border-radius: 15px;
  border: 1px solid lightgrey;
  padding: 12px;
}

.explanation-block {
  margin: 100px auto 10px auto;
  width: 600px;
}

.explanation-block > div > span {
  display: table;
  margin: 0 auto;
}

.explanation-block > .quest-no  > span {
  font-family: "Pacifico";
  font-size: 20px;
}
.explanation-text {
  color: blue;
}

.quest-text {
  color: red
}

.quest-no {
  text-decoration: underline
}

.form {
  display: inline-block;
  width: 100%;
}

.search-mode-places {
  background-color: lightgreen !important;
}

.logout-link {
  position: absolute;
  top:5px;
  right:5px;
}

.logout-icon {
  display: block;
	width: 30px;
	height: 30px;
	background: url('../img/logout2.png');
	text-indent: -99999px;
  background-position: 0 0;
  background-repeat:no-repeat;
}

.logout-icon:hover
{
  background-position: -31px 0;
}

.discover-icon {
  display: none;
	width: 25px;
	height: 25px;
	background: url('../img/bulb.png');
	text-indent: -99999px;
  background-position: 0 0;
  background-repeat:no-repeat;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  margin: 5px auto;
  cursor: pointer;
}

.discover-icon:hover {
  background-position: -25px 0;
}

.retry 
{
  font-style: italic
}

.secs-left
{
  font-weight: bold
}

.radio-div {
  display: block;
}

.radio-text {
  font-weight: bold !important;
}

.ans-option {
  display:none;
}

.temp-disabl {
  color: lightgrey !important;
  cursor: default !important;
}

.marker-addr {
  padding-left: 15px;
  list-style-type: square;
}

.marker-addr  > li {
  background: linear-gradient(to right, lightgreen, white);
  padding: 2px;
}

.pointer {
  cursor: pointer;
}

.under-radio {
  margin-left: 20px;
}

.info-bubble-place-details {
  display: inline-block;
  overflow: hidden;
}

.draggable {
  display:none;
  position: relative;
}

.draggable .draggable-heading {
  cursor: move;
  padding: 2px;
}

.places-control {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 10px;
}

.places-control > div {
  padding: 1px;
  background-color: lightblue
}

.places-control span {
  line-height: 1.5;
}

.places-list li {
    background-color: #f4f4f4;
    padding: 0px 3px 1px 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.close-draggable{
  font-size: 15px !important;
  position: absolute;
  right: 4px;
  top: 0
}

.places-list {
  padding-left: 30px;
  margin-bottom: 0
}

ul {
  list-style-type: none;
}

.places-control ul {
    counter-reset: numCounter;
    padding-left: 0px;
    background-color: #F2F2F0;
}

.places-control li:nth-child(2n+1):before {
  background-color: white;
}

.places-control li:nth-child(2n+1) {
  background-color: white;
}

.place-number {
  display: inline-block;
  width: 20px;
  text-align: right;
  font-weight: bold;
  margin-right: 3px;
}

.codes-list {
  padding-left: 0;
}

.codes-list li {
  border: 1px solid black;
  width: 95%;
  text-align: right;
  font-style: italic;
}

.codes-list li.li-print {
  height: 50px !important;
  font-size: 20px;
  text-align: center;
}

.new-codes {
  border: 2px solid black
}

.new-users {
  display:none
}

.num-new-users {
  width: 50px
}

.draggable-contents {
  padding: 2px;
}

.center-btn {
  margin-left: auto;
  margin-right: auto;
}

.follow-up-block {
  display: inline-block;
  /* background-color: #F0F0F0; */
  padding: 5px;
}

.follow-up-block  > .follow-up-pair:nth-child(1) {
  display: block !important
}

.example {
  display: none;
}

.follow-up-pair {
  display: none;
  margin-bottom: 8px;
}

.follow-up-pair > label {
  display: block
}

.info-bubble {
  display: block;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

.info-bubble > .desc-label {
  background: linear-gradient(to right, white, lightblue, white);
  display: block;
  margin-bottom: 2px;
}

.modal-header,.modal-body,.modal-footer {
  padding: 10px !important
}

/* Hides the hand drawing tool */
div[title='Stop drawing'] {
    display: none;
}

.dest-desc {
  float: left;
  background-color: #F0F0F0;
  font-size: 13px;
  padding: 3px;
}

.dest-desc label {
  font-weight: 400 !important;
  font-style: italic;
}

.dest-desc input {
  margin-left: 10px;
  width: 180px;
  border-style: inset;
  height: 25px;
}

.btn-disabled {
  color: lightblue;
}