html, body {
  background: linear-gradient(to right, lightgrey , white);
}

/*
html, body {
    height: 576px;
    width: 1024px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    background-image: url('../img/logo-douglas-bw.jpg')
}

a { text-decoration: none; }
*/

#background {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
}

#subbody { height: 480px; }

#header {
	height: 90px;
	width: 100%;
	background: no-repeat scroll center top, linear-gradient(90deg, #006AAA, #6A97C2) repeat scroll 0 0%, none repeat scroll 0 0 #006AAA;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align: center;
  vertical-align: middle;
}

#header-title {
  margin: 5px;
  width: 95%;
}

#questintro {
  color: orange;
}

#quest {
  font-style: italic;
}

#container {
  background: linear-gradient(to right, lightgrey , white);
}

#topPanel {
  height: 110px;
  width: 100%;
  padding: 0 5px;
  overflow: hidden;
}

.headingText {
  font-size: 25px;
}

.mini-line-break {
  margin: 2px
}

#main {
  margin: 0
}

#map {
   height: 200px;
   width: 100%;
   border: 2px solid lightblue;
}

#cpanel {
   height: 100%;
   width: 168px;
   float: right;
   background: linear-gradient(lightyellow,orange);
   border-top: 1px solid;
   border-bottom: 1px solid;
   border-right: 1px solid;
   position: relative;
   display: block;
}

#labelnomsess {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
}

#nomsess {
  font-size: 15px;
}

#logo {
  height: 100%;
  width: 10%;
  float: left;
}

#veritas-id {
  padding: 3px;
  font-size: 12px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  float: left;
  color: lightgrey;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: lightgrey;
}

#langues {
  float: right;
  color: green;
  font-size: 12px;
  margin: 5px;
  line-height: 12px;
}

#langues a {
  color: green;
}

#buttonWrapDiv {
  display: inline-block;
}

#about {
  bottom: 10px;
    background-color: green;
}

#tour {
  bottom: 45px;
  background-color: grey;
}

.hcenter {
    text-align:center;
}

.myButtonStyle {
  width: 140px;
  height: 27px;
  font-size: 12px;
  border: 1px solid;
}

.lowerButtonStyle {
  height: 25px;
  position: absolute;
  left: 10px;
}

.myFileStyle {
}

.stretch {
  height: 100%;
  width: 100%;
}

.info {
    padding: 6px 6px 3px 6px;
    background: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}

.info:hover
{
    background-color: #F4F4F4;
    cursor: pointer;
}

.myIcon {
  font-size: 14px;
}